*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties */

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --bg-dark: #1b1b1b;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #ffcb00;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  text-rendering: geometricprecision;

  --toggle-light: hsl(230, 22%, 74%);
  --toggle-dark: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.5rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General styles */

/* endable this to add smooth scrolling */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  z-index: -1;
  position: relative;
}

::selection {
  background-color: transparent;
}

section {
  padding: 5em 2em;
}

section.intro {
  padding: 7em 2em 5em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

ul,
li {
  list-style-type: none;
}

/* :focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
} */

/* Buttons */

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.code {
  font-family: var(--font-family-monospace);
  font-size: 0.9em;
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1.2em;
}
.section__subtitle--intro {
  padding: 0.5em 1em;
}

.section__subtitle--work {
  color: var(--clr-accent);
  margin-bottom: 2em;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  position: fixed;
  z-index: 5;
  width: 100%;
  background: #fff;
  top: 0;
}

header.scroll {
  box-shadow: 0px -22px 16px 13px #000;
}

.dark header.scroll {
  box-shadow: 0px -22px 20px 10px #fbcd1c;
}

.logo {
  width: max-content;
  font-family: var(--ff-secondary);
}

.logo a {
  color: #000;
  text-decoration: none;
  font-family: var(--font-family-monospace);
}

.hero-logo {
  position: absolute;
  top: 23vh;
  left: -10vw;
  opacity: 0.9;
}

a:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: unset;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 10vh 0;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
  text-decoration: none;
}

.nav-toggle {
  padding: 0.5em 0 0.7em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  top: 1.5em;
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
  background: #fff;
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
  background: #fff;
  top: 10px;
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-dark);
  width: 1.5em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
  margin-top: -4px;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 12px;
}

.hamburger::before {
  top: 20px;
}
.hamburger::after {
  top: 12px;
}

button.nav-toggle:active,
.nav-toggle:focus {
  outline: none;
}

.resume {
  display: none;
  margin-right: 4rem;
  font-family: var(--font-family-monospace);
  border-bottom: 3px solid #ffcb00;
  padding: 0 5px;
  color: #000;
  margin-top: 2px;
  line-height: 20px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.scroll .resume {
  transition: all 0.4s ease;
  display: unset;
}

@media (min-width: 600px) {
  .resume:hover span {
    display: none;
    transition: all 0.4s ease;
  }

  .resume:hover:before {
    content: "";
    padding: 0 34px;
    background: url(https://img.icons8.com/metro/26/000000/view-file.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center center;
  }
}

.modal-dialog {
  max-width: 100%;
}

#ModalPDF .modal-content {
  border: 0px !important;
  background: #f7f7f7;
}

.modal-body {
  height: 85vh;
}

.PDFdoc {
  height: 82vh;
}

#ModalPDF .modal-body {
  padding-top: 0px;
}

/* .modal-footer {
  display: none;
} */

.modal-footer .btn:hover {
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
}

.btn-close {
  background: transparent;
}

.btn-close:hover {
  color: rgb(202, 86, 19);
}

.btn-close:focus {
  outline: none;
}

/*  Intro section  */

#home {
  z-index: -1;
  top: 0px;
  justify-content: center;
  background-color: #fff;
  width: 100%;
}

.about-me {
  background: #fff;
}

.dark #home,
.dark .about-me {
  background-color: var(--bg-dark);
}

.my-services,
.about-me {
  position: relative;
  z-index: 2;
}

.intro__img {
  box-shadow: var(--bs);
}

.section__subtitle--intro {
  display: inline-block;
  width: 100%;
}

.portfolio__item {
  position: relative;
}

.tag {
  position: absolute;
  left: 0;
  top: 10px;
  background: var(--clr-accent);
  color: #000;
  font-size: 14px;
  padding: 5px 14px;
  font-weight: 600;
  transform: rotate(0deg) translateX(0%) translateY(0px);
  width: max-content;
  text-align: left;
  box-shadow: 0px 4px 4px -3px #00000094;
  border-radius: 0px 25px;
  -webkit-border-radius: 0px 25px;
  -moz-border-radius: 0px 25px;
  -ms-border-radius: 0px 25px;
  -o-border-radius: 0px 25px;
}

.project-name ul {
  margin: 0;
  padding: 0 20px;
}

@media (min-width: 600px) {
  .scroll-p,
  .scroll + .started {
    display: none;
  }

  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 4.8em);
    padding-right: 6rem;
  }
}
@media (min-width: 600px) and (max-width: 799px) {
  section.intro .section__subtitle {
    font-size: 1.2rem;
    padding-right: 1.6rem;
  }
}

@media (min-width: 800px) {
  .section__subtitle--intro {
    width: calc(100% + 5em);
  }
}

@media (max-width: 400px) {
  .intro .section__subtitle {
    font-size: 1em;
  }
}

/*  My services section  */

.my-services {
  background-color: var(--clr-dark);
  background-size: cover;
  color: var(--clr-light);
  text-align: center;
  position: relative;
}

.scroll-p,
.started {
  position: absolute;
  bottom: 2vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  text-align: center;
  font-family: var(--font-family-monospace);
}

@media (max-width: 600px) {
  .section__subtitle--intro {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 32px;
    width: 100%;
  }

  .started-top {
    margin: 0 0 1.2em;
    width: 85vw;
    text-align: center;
    font-family: var(--font-family-monospace);
    background: var(--clr-accent);
    color: var(--clr-dark);
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 32px;
  }

  .started-top::before {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 30px;
    width: 30px;
    left: -18px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }

  .started-top::after {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 45px;
    width: 7px;
    right: 18px;
    transform: skew(40deg) translateY(-5px);
    -webkit-transform: skew(40deg) translateY(-5px);
    -moz-transform: skew(40deg) translateY(-5px);
    -ms-transform: skew(40deg) translateY(-5px);
    -o-transform: skew(40deg) translateY(-5px);
  }

  .dark .started-top::before,
  .dark .started-top::after {
    background-color: #1c1c1c;
  }
}

.theme-tooltip {
  position: absolute;
  z-index: -1;
  bottom: -22px;
  font-size: 12px;
  width: max-content;
  background: #4a4545;
  color: #fff;
  border-radius: 20px;
  padding: 2px 10px;
  font-weight: 300;
  font-family: Helvetica;
}

.theme-tooltip::before {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #4a4545;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.scroll-p {
  animation: bounce 0.9s infinite alternate-reverse;
  -webkit-animation: bounce 0.9s infinite alternate-reverse;
  transition: opacity 1s ease-out;
}

.scroll-p.scroll,
.started {
  opacity: 0;
}

@keyframes bounce {
  from {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
  }
  to {
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
  }
  to {
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
  }
}

.accent {
  color: var(--clr-accent);
  line-height: 18px;
  margin-top: 8px;
  display: block;
}

.sm {
  font-size: 1rem;
}

.section__title--services {
  color: var(--clr-accent);
  position: relative;
}

.section__title--services::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}

.service {
  margin: 0 auto;
  text-align: left;
}

.service ul {
  padding: 8px 0 0;
  margin-bottom: 0;
}

.service h3 {
  margin-bottom: 12px;
}

.work a {
  color: var(--clr-accent);
}

@media (min-width: 800px) {
  .services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  .service + .service {
    margin-left: 2em;
  }
}

.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__img {
  box-shadow: var(--bs);
}

.about-me__body {
  font-family: var(--font-family-sans-serif);
}

.about-me__body p,
.ps {
  margin-bottom: 0.6rem;
  font-size: 16px !important;
  font-family: var(--font-family-sans-serif) !important;
}

.about-me__body span:not(.code),
.work span {
  border-bottom: 3px solid var(--clr-accent);
  font-family: var(--font-family-monospace);
  font-size: 1rem;
  display: block;
  margin: 0 auto 5px;
}

small {
  display: block;
}

@media (min-width: 700px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 290px);
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}
@media (max-width: 699px) {
  .about-me__img {
    max-width: 400px;
    margin: auto;
    width: 100%;
  }
}

@media (min-width: 900px) {
  .about-me {
    grid-template-columns: 1fr minmax(auto, 350px);
  }
}

@media (max-width: 500px) {
  .section__subtitle--about {
    padding: 0.25em 0.1em;
    font-size: large;
  }
}

/* My Work */

.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.project-name ul li:first-child {
  font-weight: 600;
}

.portfolio {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(2, minmax(278px, 1fr));
  max-width: 1200px;
  margin: 0 auto;
}

.portfolio__item {
  background: gray;
  overflow: hidden;
  position: relative;
}

.portfolio__img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-height: 340px;
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
}

.zip-info {
  letter-spacing: -0.8px;
  font-size: 18px;
  padding: 20px;
}

.zip_item {
  position: relative;
}

.zip_item:before {
  content: "";
  position: absolute;
  width: 100%;
  background: rgba(23, 22, 22, 0.24);
  height: 100%;
  z-index: 2;
  top: 0;
  opacity: 0.2;
  left: 0;
}

.zip_item:after {
  position: absolute;
  content: url("https://img.icons8.com/ios-filled/50/000000/play-button-circled--v5.png");
  top: 50%;
  left: 45%;
}

.portfolio-box-caption {
  z-index: 2;
  color: #0a223c;
  opacity: 0;
  display: block;
  background: var(--clr-accent);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.portfolio-box-caption:hover {
  opacity: 1;
}

.project-category {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  margin-bottom: 0.3em;
}

.portfolio-box-caption:hover .project-category {
  transform: scale(1.8);
  -webkit-transform: scale(1.8);
  -moz-transform: scale(1.8);
  -ms-transform: scale(1.8);
  -o-transform: scale(1.8);
}

.portfolio-box-caption .portfolio-box-caption-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight: 600;
}

.portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 1em;
  font-family: var(--ff-secondary);
}
.portfolio__item {
  border-right: 4px solid var(--clr-accent);
  border-bottom: 4px solid var(--clr-accent);
}
.portfolio__item:nth-child(even) {
  border-right: none;
}
.portfolio__item:last-child.last {
  margin-left: 50%;
  border-right: none;
  width: 100%;
}

/* Small Screen Devices */

@media (max-width: 600px) {
  section {
    padding: 5em 1em;
  }

  .hero-logo {
    display: none;
  }

  #ModalPDF .modal-footer {
    padding: 0px 0.75rem;
  }

  #ModalPDF .btn-close {
    padding: 0px;
  }
  .download {
    display: none;
  }

  .btn-close {
    padding: 0.5em 0;
  }

  section.intro {
    padding: 7.5em 1em 5em;
  }

  .resume {
    margin-top: 2px;
    line-height: 20px;
    border-top: 3px solid #ffcb00;
  }

  .portfolio {
    grid-template-columns: 1fr;
  }

  .portfolio__item:hover {
    border: 0;
  }

  .portfolio__item:nth-child(odd),
  .portfolio__item:nth-child(1) {
    border: 4px solid var(--clr-accent);
  }

  .portfolio__item:nth-child(even) {
    border: none;
  }

  .portfolio__item:last-child {
    margin-left: 0%;
    width: 100%;
  }
  .portfolio__item:last-child.last {
    margin-left: 0% !important;
    border-right: 4px solid var(--clr-accent) !important;
    width: 100%;
  }

  .service h3 {
    font-weight: bold;
  }

  .service {
    margin: 3rem auto 0;
  }

  .work span {
    max-width: 300px;
    margin: 0;
  }

  .about-me__body span:not(.code) {
    margin: 0.4rem auto 0.3rem;
  }

  .about-me__body span.ps {
    margin-top: 0.5em;
  }

  .about-me__img {
    margin-top: 2.5rem;
  }

  .resume {
    margin-right: 3rem;
  }

  .portfolio__img {
    min-height: 290px;
    max-height: 350px;
  }

  .portfolio-box-caption:hover {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }

  .scroll + .started {
    display: block;
    font-weight: bold;
    background: var(--clr-accent);
    transition: opacity 1s ease-out;
    opacity: 1;
    overflow: hidden;
  }

  .scroll-p::after {
    border-bottom: 3px solid var(--clr-accent);
    content: "";
    position: absolute;
    width: 33px;
    top: -2px;
    right: 44%;
  }

  .scroll-p::before {
    border-bottom: 3px solid var(--clr-accent);
    content: "";
    position: absolute;
    width: 16px;
    bottom: -2px;
  }

  .scroll + .started::before {
    content: "";
    position: absolute;
    background: white;
    height: 26px;
    width: 24px;
    left: -11px;
    transform: rotate(45deg);
  }

  .started::after {
    content: "";
    position: absolute;
    background: white;
    height: 100px;
    width: 8px;
    right: 0px;
    transform: skew(40deg);
  }

  img.hover-shadow,
  .portfolio__item {
    margin-bottom: 1rem;
  }

  .modal-content {
    width: 100%;
    border: 0px !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
  }

  .art-img {
    height: 100vh;
  }
  .modal {
    height: 100vh;
    background-color: transparent;
  }

  .numbertext {
    padding: 1rem 0.9rem 0;
  }
}

/* Hobbies */

.hobbies {
  background: #252525;
}
.dark .hobbies {
  background: var(--bg-dark);
}

.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(278px, 1fr));
}

.column {
  position: relative;
}

.placeholder-text {
  text-align: center;
  position: absolute;
  background-color: var(--clr-accent);
  color: black;
  font-family: var(--ff-secondary);
  font-size: 14px;
  white-space: nowrap;
  padding: 0.5rem;
  margin-top: 20px;
  left: 20px;
  border-bottom-right-radius: 18px;
  border-top-left-radius: 18px;
  z-index: 2;
}

img.hover-shadow {
  transition: all 0.3s ease;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  position: relative;
}

.hover-shadow:hover {
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.75);
  position: relative;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  z-index: 1;
}

.hover-text {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 40%;
  text-align: center;
  background-color: var(--clr-accent);
  color: black;
  font-family: var(--ff-secondary);
  padding: 0.3rem;
  height: auto;
  width: 80%;
  left: 10%;
  right: 50%;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  pointer-events: none;
  border: 2px solid var(--clr-accent);
  transform: skew(-5deg, 10deg);
  -webkit-transform: skew(-5deg, 10deg);
  -moz-transform: skew(-5deg, 10deg);
  -ms-transform: skew(-5deg, 10deg);
  -o-transform: skew(-5deg, 10deg);
  z-index: 2;
}

.art .column:first-of-type .hover-text {
  top: 40%;
}

.column:hover .hover-text {
  opacity: 1;
  visibility: visible;
}

.artimg {
  width: 100%;
  padding-left: 0%;
  object-fit: scale-down;
  height: 100vh;
}

.modal {
  display: none;
  position: fixed;
  z-index: 14;
  padding-top: 0px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: black;
}

#myModal,
#myModals {
  overflow: hidden;
}

.modal-content {
  position: relative;
  background-color: #fefefe00;
  margin: auto;
  padding: 0;
  width: 100%;
}

.close {
  color: var(--clr-accent);
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  text-shadow: 0 0px 0 #fff !important;
  opacity: 1 !important;
}

.close:hover {
  color: rgb(202, 86, 19);
  cursor: pointer;
}

.mySlides {
  background-color: rgb(43, 40, 40) !important;
}

.mySlide {
  height: 100vh;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  color: var(--clr-accent);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  text-decoration: none;
}

.caption-container {
  display: none;
}

.numbertext {
  display: inline-block;
  padding: 1rem 0.9rem 0;
  color: var(--clr-accent);
  font-family: var(--fw-reg);
  font-size: 1rem;
}

@media (min-width: 768px) {
  .numbertext {
    position: absolute;
    left: 0;
  }
}

@media (max-width: 1185px) {
  img.hover-shadow {
    height: 320px;
    object-fit: cover;
  }

  .hover-text,
  .art .column:first-of-type .hover-text {
    top: 45%;
  }
}

/* footer */

.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

@media (max-width: 682px) {
  .footer {
    padding: 2.5em 0 3.5em;
  }
}

.footer a {
  color: inherit;
  text-decoration: none;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover {
  border: 0.2rem solid var(--clr-accent);
  padding: 0.4rem;
  font-size: 1.6rem;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

@media (max-width: 769px) {
  .social-list {
    margin-top: 0.8em;
  }
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
}

.fab:hover {
  -webkit-animation: icon3d 200ms infinite;
  animation: icon3d 200ms infinite;
  color: white;
  cursor: pointer;
}

/* Animation on Social Icon hover */

@keyframes icon3d {
  0% {
    text-shadow: 5px 4px rgba(244, 67, 54, 1), -5px -6px rgba(33, 150, 243, 1);
  }

  25% {
    text-shadow: -5px -6px rgba(244, 67, 54, 1), 5px 4px rgba(33, 150, 243, 1);
  }

  50% {
    text-shadow: 5px -4px rgba(244, 67, 54, 1), -8px 4px rgba(33, 150, 243, 1);
  }

  75% {
    text-shadow: -8px -4px rgba(244, 67, 54, 1), -5px -4px rgba(33, 150, 243, 1);
  }

  100% {
    text-shadow: -5px 0 rgba(244, 67, 54, 1), 5px -4px rgba(33, 150, 243, 1);
  }
}

/* Individual portfolio item styles */

.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* Back to Top button */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--clr-accent);
  color: var(--clr-dark);
  cursor: pointer;
  place-items: center;
  padding: 2px 15px 6px;
  border-radius: 2px;
  font-family: var(--ff-secondary);
  box-shadow: 0px 0px 12px 2px rgba(15, 55, 55, 0.4);
}

@media (max-width: 600px) {
  #myBtn {
    bottom: 15px;
    right: 15px;
    font-size: 14px;
    padding: 6px 12px;
  }
}

#myBtn:hover {
  background-color: #555;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 0px 12px 2px rgba(15, 55, 55, 0.4);
}

.mobile-only {
  display: none;
}
.desktop-only {
  display: unset;
}

@media (max-width: 991px) {
  .mobile-only {
    display: unset;
  }

  .desktop-only {
    display: none;
  }
}

/* Slideshow #Hobbies section */

.splide__slide {
  animation: moveSlideshow 50s linear infinite;
  -webkit-animation: moveSlideshow 50s linear infinite;
}
@keyframes moveSlideshow {
  100% {
    transform: translateX(-1066.6666%);
    -webkit-transform: translateX(-1066.6666%);
    -moz-transform: translateX(-1066.6666%);
    -ms-transform: translateX(-1066.6666%);
    -o-transform: translateX(-1066.6666%);
  }
}

/* Pace for page load */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #fac800;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

/* Dark Theme */

body.dark,
.dark header,
.dark .logo a,
.dark header > * {
  background: var(--bg-dark);
  color: var(--clr-light);
}

.dark .section__subtitle--intro,
.dark .section__subtitle--about {
  color: var(--clr-dark);
}

.dark .hamburger,
.dark .hamburger::before,
.dark .hamburger::after {
  background: var(--clr-light);
}

.dark #services,
.dark #work {
  background: #151515;
}

.dark .footer {
  background: #191818;
}

@media (min-width: 600px) {
  .dark .resume:hover:before {
    content: "View";
    padding: 0 10px;
    background: transparent;
  }
}

.toggle-switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 12rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

/* Hide default html checkbox */
.switch input {
  opacity: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: var(--toggle-light); */
  background: linear-gradient(90grad, hsl(25deg 66% 50%), hsl(55deg 100% 52%));
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 32px;
  bottom: 5px;
  background-color: #fff;
  transition: 0.4s;
}

input:checked + .slider {
  background: linear-gradient(90grad, hsl(25deg 66% 50%), hsl(55deg 100% 52%));
}

input:checked + .slider:before {
  transform: translateX(-24px);
}
.slider,
.round {
  border-radius: 34px;
}

.round::before {
  border-radius: 50%;
}

input:checked + .round::before {
  background-color: hsl(230, 17%, 14%);
}

@media (max-width: 682px) {
  .toggle-switch {
    right: 15px;
    top: 4rem;
    background: transparent !important;
  }

  .switch {
    width: 55px;
    height: 25px;
  }
  .slider:before {
    height: 18px;
    width: 18px;
    left: 32px;
    bottom: 4px;
  }

  .dark .scroll + .started::before,
  .dark .scroll + .started::after {
    background: var(--bg-dark);
  }

  .dark .started {
    color: var(--clr-dark);
  }

  .dark .footer {
    border-top: 1px solid #ffbc00;
    background: #111;
  }

  .theme-tooltip {
    right: 0px;
  }
}

.hide-portfolio {
  display: none;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 2000ms ease-in-out, opacity 2500ms ease-in-out;
  -webkit-transition: height 2000ms ease-in-out, opacity 2500ms ease-in-out;
  -moz-transition: height 2000ms ease-in-out, opacity 2500ms ease-in-out;
  -ms-transition: height 2000ms ease-in-out, opacity 2500ms ease-in-out;
  -o-transition: height 2000ms ease-in-out, opacity 2500ms ease-in-out;
}

.show-portfolio {
  opacity: 1;
  height: auto;
  display: unset;
}

.toggleBtn {
  background: linear-gradient(228deg, #ff3608 0%, #ffcb00 80%, #ffcb00 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  margin: 50px auto 0;
  border: 2px solid #ffbc00;
  border-radius: 15px;
  padding: 5px 15px;
  display: block;
  width: max-content;
  transition: transform 0.4s ease;
  -webkit-transition: transform 0.4s ease;
  -moz-transition: transform 0.4s ease;
  -ms-transition: transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  white-space: nowrap;
  box-shadow: 0px 0px 4px 1px #ffca00;
}

@media (max-width: 768px) {
  .toggleBtn {
    margin-top: 25px;
  }

  section#work {
    padding-bottom: 3rem;
  }
}

.toggleBtn:focus {
  outline: none;
}
.toggleBtn:hover {
  transform: scale(1.08);
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
}

.toggleBtn:hover + .arrow {
  opacity: 0;
}

.toggleBtn:active + .arrow,
.toggleBtn:visited + .arrow,
.toggleBtn:focus + .arrow {
  opacity: 1;
}

.arrow {
  position: relative;
  transition: all 0.5s ease;
  width: 14px;
  height: 14px;
  margin: 14px auto 0;
  border-left: none;
  border-top: none;
  border-right: 4px #d4a113 solid;
  border-bottom: 4px var(--clr-accent) solid;
  animation: arrow 2s ease-in-out infinite;
  -webkit-animation: arrow 2s ease-in-out infinite;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

@keyframes arrow {
  0%,
  100% {
    transform: translateY(-3px) rotate(45deg);
    -webkit-transform: translateY(-3px) rotate(45deg);
    -moz-transform: translateY(-3px) rotate(45deg);
    -ms-transform: translateY(-3px) rotate(45deg);
    -o-transform: translateY(-3px) rotate(45deg);
  }
  50% {
    transform: translateY(5px) rotate(45deg);
    -webkit-transform: translateY(5px) rotate(45deg);
    -moz-transform: translateY(5px) rotate(45deg);
    -ms-transform: translateY(5px) rotate(45deg);
    -o-transform: translateY(5px) rotate(45deg);
  }
}

.arrow.arrowUp {
  border-right: none;
  border-bottom: none;
  border-left: 4px #d4a113 solid;
  border-top: 4px var(--clr-accent) solid;
  margin-top: 20px;
}

.box {
  margin: 0;
  height: auto;
  overflow: hidden;
  padding: 0px 0 0px 45px;
}

.box ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  transition: all 0.5s linear;
  top: 0;
}

.box ul:before {
  content: "";
  display: block;
  width: 0;
  height: calc(100% - 30px);
  border: 1px solid #000;
  position: absolute;
  top: 5px;
  left: 25px;
}

.dark .box ul:before {
  border: 1px solid #fff;
}

.box ul li {
  margin: 10px 30px 24px 54px;
  position: relative;
  padding: 10px 15px;
  background: #a5a5a530;
  border-radius: 10px;
  line-height: 20px;
  max-width: 450px;
}

.box ul li > span {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: -30px;
}

.box ul li > span:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 2px;
  background: currentColor;
  border: 2px solid currentColor;
  position: absolute;
  left: -4px;
}

.box .time span {
  position: absolute;
  left: -100px;
  font-size: 70%;
  font-weight: bold;
}
.box .time span:first-child {
  top: -0px;
}

.box .info {
  font-size: 14px;
}

@media (max-width: 699px) {
  .box ul li {
    margin: 10px 0px 24px 40px;
  }
  .box ul:before {
    left: 11px;
  }
  .box .time span {
    left: -85px;
  }
}

.loader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #0d1316;
  z-index: 400;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

.triangles {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 54px;
  width: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
}

.tri {
  position: absolute;
  -webkit-animation: pulse 750ms ease-in infinite;
  -moz-animation: pulse 750ms ease-in infinite;
  animation: pulse 750ms ease-in infinite;
  border-top: 18px solid #ffbc19;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 0px;
}
.tri.invert {
  border-top: 0px;
  border-bottom: 18px solid #ffbc19;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.tri:nth-child(1) {
  left: 20px;
}
.tri:nth-child(2) {
  left: 10px;
  top: 18px;
  -webkit-animation-delay: -125ms;
  -moz-animation-delay: -125ms;
  animation-delay: -125ms;
}
.tri:nth-child(3) {
  left: 20px;
  top: 18px;
}
.tri:nth-child(4) {
  left: 30px;
  top: 18px;
  -webkit-animation-delay: -625ms;
  -moz-animation-delay: -625ms;
  animation-delay: -625ms;
}
.tri:nth-child(5) {
  top: 36px;
  -webkit-animation-delay: -250ms;
  -moz-animation-delay: -250ms;
  animation-delay: -250ms;
}
.tri:nth-child(6) {
  top: 36px;
  left: 10px;
  -webkit-animation-delay: -250ms;
  -moz-animation-delay: -250ms;
  animation-delay: -250ms;
}
.tri:nth-child(7) {
  top: 36px;
  left: 20px;
  -webkit-animation-delay: -375ms;
  -moz-animation-delay: -375ms;
  animation-delay: -375ms;
}
.tri:nth-child(8) {
  top: 36px;
  left: 30px;
  -webkit-animation-delay: -500ms;
  -moz-animation-delay: -500ms;
  animation-delay: -500ms;
}
.tri:nth-child(9) {
  top: 36px;
  left: 40px;
  -webkit-animation-delay: -500ms;
  -moz-animation-delay: -500ms;
  animation-delay: -500ms;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 1;
  }
  16.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes pulse {
  0% {
    opacity: 1;
  }
  16.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  16.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
